

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td> 
        
        <% if user.admin? %>
          管理者
        <% else %>
          一般使用者
        <% end %></td>
      <td>轉換權限的按鈕 (待處理)</td>
    </tr>
    <% end %>
  </tbody>
</table>