/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";
@import "bootstrap/mixins";
@import "font-awesome-sprockets";
@import "font-awesome";


.layout {
  margin-top: 20px;
  }

#map {
  height: 400px;
}

.fa-stack[data-count]:after{
  position:absolute;
  margin: auto;
  top: 25%; left: 0; bottom: 0; right: 0;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: grey;  
  text-align:center;
  min-width:2em;
  font-weight:bold;
}